@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

:root {
	--main-color: #75b925;
	--grey: #a1a1a1;
	--light-grey: #efefef;
	--box-shadow: 8px 8px 19px -10px rgba(0, 0, 0, 0.5);
}

body {
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "Montserrat", arial, sans-serif;
}

p {
	text-align: justify;
	padding: 5px 0;
}

a {
	text-decoration: none;
	color: var(--main-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--main-color);
}

h1 {
	font-size: 2em;
	margin-bottom: 0.5rem;
}

h2 {
	font-size: 1.4em !important;
	margin-bottom: 0.4rem;
}

input,
select {
	padding: 0.4rem 0.6rem;
	border: 2px solid var(--main-color);
	margin-right: 1rem;
	background-color: #fff;
	width: 100%;
}

input[type="number"] {
	width: 4rem;
}

p.small {
	color: var(--grey);
	margin: -1rem 0 1rem 0;
}

img {
	-webkit-box-shadow: var(--box-shadow);
	-moz-box-shadow: var(--box-shadow);
	box-shadow: var(--box-shadow);
}

.box-shadow {
	-webkit-box-shadow: var(--box-shadow);
	-moz-box-shadow: var(--box-shadow);
	box-shadow: var(--box-shadow);
}

.btn {
	background-color: var(--main-color);
	cursor: pointer;
	text-align: center;
	padding: 0.8rem 1.6rem;
	text-decoration: none;
	color: #fff;
	-webkit-box-shadow: var(--box-shadow);
	-moz-box-shadow: var(--box-shadow);
	box-shadow: var(--box-shadow);
}

ul {
	margin-top: 1rem;
}

li {
	padding: 0.2rem 0;
	list-style: none;
}
